<aside class="sidebar">

    <div class="sidebar-header">

        <i class="bi bi-recycle"></i>

        <span>
            BioCircular
        </span>

    </div>


    <ul class="nav flex-column mt-4">


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">

                <i class="bi bi-speedometer2"></i>

                Panel de Control

            </a>

        </li>
        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/mantenimientos"
            routerLinkActive="active">

                <i class="bi bi-tools"></i>

                Mantenimientos

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/reportes"
            routerLinkActive="active">

                <i class="bi bi-bar-chart"></i>

                Reportes

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/inventario-compost"
            routerLinkActive="active">

                <i class="bi bi-box-seam"></i>

                Inventario Compost

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/residuos"
            routerLinkActive="active">

                <i class="bi bi-recycle"></i>

                Tipos de residuos

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/contenedores"
            routerLinkActive="active">

                <i class="bi bi-trash3"></i>

                Contenedores

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/vehiculos"
            routerLinkActive="active">

                <i class="bi bi-truck"></i>

                Vehículos

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/clientes"
            routerLinkActive="active">

                <i class="bi bi-people"></i>

                Clientes

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/recolecciones"
            routerLinkActive="active">

                <i class="bi bi-truck"></i>

                Recolecciones

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/rutas"
            routerLinkActive="active">

                <i class="bi bi-map"></i>

                Rutas

            </a>

        </li>


        <li class="nav-item">
            <a
            class="nav-link"
            routerLink="/incidencias"
            routerLinkActive="active">

                <i class="bi bi-exclamation-triangle"></i>

                Incidencias

            </a>

        </li>


        <li class="nav-item">
            <a
            class="nav-link"
            routerLink="/compostaje"
            routerLinkActive="active">

                <i class="bi bi-flower1"></i>

                Compostaje

            </a>

        </li>


        <li class="nav-item">

            <a
            class="nav-link"
            routerLink="/usuarios"
            routerLinkActive="active">

                <i class="bi bi-person-gear"></i>

                Usuarios

            </a>

        </li>


    </ul>


</aside>
